@import url("/css/reset.css");
@import url("/css/app.css");
@import url("/css/gombok.css");
@import url("/css/kartya.css");

@import url("/css/mobil.css") screen and (max-width: 600px);

div.landscape{
  display:none;
}
/* .magictime {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
} */
